{% extends "base.html" %}

{% load thumbnail %}

{% block nav_blog %}active {% endblock %}

{% block content %}

    <!-- ******CONTENT****** -->
    <div class="content container">
        <div class="page-wrapper">
            <header class="page-heading clearfix">
                <h1 class="heading-title pull-left">{% block blog_title %}{% endblock blog_title %}</h1>
                <div class="breadcrumbs pull-right">
                    <ul class="breadcrumbs-list">
                        <li class="breadcrumbs-label">Você está aqui:</li>
                        <li><a href="{% url 'home' %}">Início</a><i class="fa fa-angle-right"></i></li>
                        {% block blog_map %}{% endblock blog_map %}
                    </ul>
                </div><!--//breadcrumbs-->
            </header>
            <div class="page-content">
                <div class="row page-row">

                    {% block post %}

                    {% endblock post %}

                    <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
                        <section class="widget has-divider">
							{% include "category.html" with a='blog:category_list' tagopen='<p>' tagclose='</p>' %}
                        </section><!--//widget-->
                        <section class="widget has-divider">
                            <h3 class="title">Outras Notícias</h3>
                            {% for object in other_list %}
                            <article class="news-item row">
                                <figure class="thumb col-md-2 col-sm-3 col-xs-3">
                                {% thumbnail object.image "40" crop="center" format="PNG" as im %}
                                    <img src="{{ im.url }}" alt="{{ object.title }}" title="{{ object.title }}" />
                                {% empty %}
                                    <img src="http://placehold.it/40x40/cccccc/FFFFFF" alt="{{ object.title }}" title="{{ object.title }}" />
                                {% endthumbnail %}
                                </figure>
                                <div class="details col-md-10 col-sm-9 col-xs-9">
                                    <h4 class="title"><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h4>
                                </div>
                            </article><!--//news-item-->
                            {% empty %}
                            <p>Nenhuma notícias encontrada.</p>
                            {% endfor %}
                        </section><!--//widget-->
                        <section class="widget has-divider">
                            <h3 class="title">Eventos</h3>
                            {% for cal in calendar_list %}
                            <article class="events-item row page-row">
                                <div class="date-label-wrapper col-md-3 col-sm-4 col-xs-4">
                                    <p class="date-label">
                                        <span class="month">{{ cal.date_start|date:"M" }}</span>
                                        <span class="date-number">{{ cal.date_start|date:"d" }}</span>
                                    </p>
                                </div><!--//date-label-wrapper-->
                                <div class="details col-md-9 col-sm-8 col-xs-8">
                                    <a href="{{ cal.get_absolute_url }}"><h5 class="title">{{ cal.title }}</h5></a>
                                    <p class="time text-muted"><i class="fa fa-clock-o"></i>{{ cal.date_start|date:"H:i" }} - {{ cal.date_end|date:"H:i" }}</p>
                                </div><!--//details-->
                            </article>
                            {% empty %}
                            <p>Nenhum evento encontrado.</p>
                            {% endfor %}
                        </section><!--//widget-->
                        <section class="widget">
                            <h3 class="title">Marcações</h3>
                            <div class="section-content">
                            {% for tag in tag_list %}
                                <a href="{% url 'blog:tag_list' tag.slug %}"><span class="label label-theme">{{ tag.name }}</span></a>
                            {% endfor %}
                            </div><!--//section-content-->
                        </section><!--//widget-->
                    </aside>
                </div><!--//page-row-->
            </div><!--//page-content-->
        </div><!--//page-->
    </div><!--//content-->

{% endblock content %}
