{% extends "blog/entry_base.html" %}

{% load thumbnail %}

{% block nav_blog %}active {% endblock %}

{% block blog_title %}{{ object.title }}{% endblock blog_title %}

{% block blog_map %}
    <li><a href="{% url 'blog:home' %}">Notícias</a><i class="fa fa-angle-right"></i></li>
    <li class="current">{{ object.title }}</li>
{% endblock blog_map %}

{% block post %}

    <div class="news-wrapper col-md-8 col-sm-7">
        <article class="news-item">
            <p class="meta text-muted">Data: {{ object.created|date:"d F Y" }}</p>
            <p class="featured-image">
            {% thumbnail object.image "750x300" crop="center" format="PNG" as im %}
                <img class="img-responsive" src="{{ im.url }}" alt="{{ object.title }}" title="{{ object.title }}" />
            {% empty %}
                <img src="http://placehold.it/750x300/cccccc/FFFFFF" alt="{{ object.title }}" title="{{ object.title }}" />
            {% endthumbnail %}
            </p>
            {% autoescape off %}
            <p>{{ object.body|linebreaks|cut:"../../../.." }}</p>
            {% endautoescape %}
        </article><!--//news-item-->
    </div><!--//news-wrapper-->

{% endblock post %}
