{% load i18n staticfiles %}
<!DOCTYPE html>
<html lang="pt" class="no-js">
  <head>
    <meta charset="utf-8">
    <title>{{ enterprise.name }} - Portal da Transparencia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="OW7">
  </head>
  <frameset cols="100%">
    {% if pagina %}
    <frame src="{{ enterprise.url_trans }}{{ pagina }}.faces">
    {% else %}
    <frame src="{{ enterprise.url_trans }}">
    {% endif %}
  </frameset>
</HTML>
